<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speeling Bee Grid</title>
    <link rel="icon" href="static/cute_bee.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="styles/hints.css" />
</head>
<body>
  <p><b>{{primary_character}}</b> {{' '.join(all_letters[1:])}}</p>
  <p>WORDS: {{num_words}}&#9;POINTS: {{num_points}}&#9;PANGRAMS: {{num_pangrams}}</p>
  <table>
    <thead>
        <tr>
            <th class="hintColumn"></th>
            {% for word_len in word_lengths %}
                <th class="hintColumn">{{word_len}}</th>
            {% endfor %}
            <th class="hintColumn"><b>&Sigma;</b></th>
        </tr>
    </thead>
    <tbody>
        {% for letter in all_letters %}
            <tr>
                <td>
                    <b>{{letter}}</b>
                </td>
                {% for count in letter_to_counts[letter] %}
                    <td>
                        {{count}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td><b>&Sigma;</b></td>
            {% for total in totals %}
                <td>{{total}}</td>
            {% endfor %}
        </tr>
    </tbody>
  </table>
</body>
</html>